.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box
}


html {
  width: 100% !important
}
.slick-thumb {
  bottom: -7vw;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  padding: 0 
}
.slick-thumb li {
  width: 12vw;
  height: 45px;
  cursor: pointer;
}
.slick-thumb li img {
  filter: grayscale(100%) brightness(50%);
  width: 100%;
  transition-duration: .3s;
  border: 2px solid white;
  box-sizing: border-box;
  border-radius: .25rem;
}
.slick-thumb li img:hover {
  filter: grayscale(0%) brightness(100%);
  transform: translateY(-1px);
  box-shadow: 0 5px 10px 5px #0000006e;
  transition-duration: .3s;
}
.slick-thumb li.slick-active img {
  filter: grayscale(0);
  border: 2px solid orange;
  box-shadow: 0 5px 10px 5px #0000006e;
  transition-duration: .3s;
}
.slick-active { z-index: 999; }

button {
  transition-duration: .3s
}
button:active {
  transform: scale(.9) translateY(2px);
  transition-duration: .3s
}
.links button:active {
  transform: scale(1)
}

@media screen and (max-width: 750px ) {
  .Navigation {
    display: none;
  }
}